<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Properties
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Properties</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  @if (results?.length) {
  <ion-card class="property-card" *ngFor="let item of results" (click)="goToDetail(item.id)">

    <div class="card-row">

      <img
        class="property-img"
        [src]="item.images?.length ? item.images[0].file : 'assets/no-image.png'"
        alt="Property image"
      />

      <div class="property-content">

        <div class="title-row">
          <h3 class="title">{{ item.title }}</h3>
          <span class="post-date">{{ item.create_date }}</span>
        </div>

        <div class="location">
          <img src="assets/icon/pin-outline.svg" width="16" colour="white"/>
          <span>{{ item.city }}</span>
        </div>

        <div class="info">
          <span><img src="assets/icon/bed-outline.svg" width="16" colour="white"/></span>
          <span>{{ item.bed_s }}</span>
          <span><img src="assets/icon/walk-outline.svg" width="16" colour="white"/></span>
          <span>{{ item.bthrooms }} </span>
          <span><img src="assets/icon/square-outline.svg" width="16" colour="white"/></span>
          <span>{{ item.area_s }} sqft</span>
        </div>

        <div class="bottom-row">
          <div class="price">
            AED {{ item.auction_price | number }}
          </div>

          <ion-button size="small" shape="round" color="success" (click)="goToDetail(item.id)">
            <span><img src="assets/icon/hammer-outline.svg" width="16" colour="white"/></span>
              Bid Now
          </ion-button>
        </div>

      </div>

    </div>

  </ion-card>
}
@else{
  <ion-item>
  <ion-label>No Matching Records</ion-label>
  <ion-spinner></ion-spinner>
</ion-item>
}

  
</ion-content>



